.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &_tasks {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
